#Picture Clicker的配置：
#格式: 行注释：<键名> = 值。
#      行末注释：<键名> = "字符串值" (双引号内支持转义字符，并且要注意在#前留出空车才会被识别)。
#注释: 以字符#开头，或者在值后用字符#。(暂时不支持修改注释，请不要尝试在此处用注释记录，以免丢失)
#如果配置出错，可以尝试删除配置来恢复出厂设置。

#使用的屏幕序号。
#这个序号从0开始，一般主屏幕序号为0。
ScreenIndex = 0

#模板图片路径。
TemplatePath = "Template.png"

#图像相似度阀值。
#可以设置为0~255，越大表示越相似。
#当屏幕中与模板图片最相似的一个区域的相似度>=该值时，触发点击。
Threshold = 245

#每次检测周期间隔。
#为了避免卡顿，实际精度大于100ms。
Delay = 5000 #ms
